{% load static %} <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Movie Reviews</title>
    <!-- css 연결방법 -->
    <link rel="stylesheet" href="{% static 'review_list.css' %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="{% url 'review_list' %}"><h1>my<span style="color: red;">Movie</span>reviews</h1></a>
        </div>
        <a href="{% url 'review_create' %}"><h3>Add a New review</h3></a>
    </div>
    <hr>
    <div class="review-container">
    {% for review in reviews %} 
        <div class="Review">
            {% if review.poster %}
            <div class="movie-img">
                <img src="{{ review.poster.url }}" alt="{{ review.title }} 포스터">
            </div>
            {% else %}
                <div class="movie-no-img">
                    <span>No Image</span>
                </div>
            {% endif %}
            <div class="movie-info">
                <h3><a href="{% url 'review_detail' review.pk %}">{{ review.title }}</a></h3>
                <span style="font-weight : bold; color: gray">개봉년도 </span><span>{{ review.release_year }} 년</span><br>
                <span style="font-weight : bold; color: gray">장르  </span><span>{{ review.get_genre_display }}</span> <br>
                <span style="font-weight : bold; color: gray">별점  </span><span>{{ review.rating }}</span><br>
            </div> 
        </div>{% endfor %}
    </div>
</body>
</html>