* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body .review-container {
    display: flex; justify-content: space-around;
    margin: 5%; flex-wrap: wrap; gap: 20px;
}
body .review-container .Review {
    padding: 10px; 
}
body .review-container .Review .movie-info h3 a {
    text-decoration: none;
    color: black;
}

body .review-container .Review .movie-no-img {
    width: 150px; height: 200px; 
    background-color: #ddd; display: flex; 
    align-items: center; justify-content: center;
}
