{% load static %} <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Movie Reviews</title>
    <!-- css 연결방법 -->
    <link rel="stylesheet" href="{% static 'review_list.css' %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="#"><h1>my<span style="color: red;">Movie</span>reviews</h1></a>
        </div>
        <a href="{% url 'review_create' %}"><h3>Add a New review</h3></a>
    </div>
    <hr>
    {% for review in reviews %} 
    <div class="Review">
        {% if review.poster %}
            <img src="{{ review.poster.url }}" alt="{{ review.title }} 포스터">
        {% else %}
            <div style="width: 150px; height: 200px; background-color: #ddd; display: flex; align-items: center; justify-content: center;">
                <span>No Image</span>
            </div>
        {% endif %}
        <div class="movie-info">
            <h3><a href="{% url 'review_detail' review.pk %}">{{ review.title }}</a></h3>
            <p>개봉년도 {{ review.release_year }} 년</p>
            <p>장르 {{ review.get_genre_display }}</p> <p>별점 {{ review.rating }}</p>
        </div> {% endfor %}
    
    </div>
</body>
</html>