body .header {
    display: flex; justify-content: space-between;
    align-items: center; margin: 25px;
}
body .header .logo {
    display: flex; 
}
body .header .logo h1{
    color: #111;
}
body .header .logo a {
    text-decoration: none;
}
body .header a {
    text-decoration: none; color: #111;
}