body {
    background-color: black;
    width: 100%; margin: 0px auto;
    font-family: Nexon;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewport='0 0 20 20'><circle cx='10' cy='10' r='10' fill='%230bec12'/></svg>") 10 10, auto;
}
/* header */
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    background: linear-gradient(to bottom, black, black);
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
}
header .menu { margin-left: auto; }
header .menu ul { 
    display: flex; list-style: none; 
}
header .menu ul li{
    font-size: 20px;
    margin-left: 20px; 
    transition: transform 0.3s ease;
}
header .menu ul li:hover{
    transform: translateY(-5px);
}
header .menu ul li a { color: white; text-decoration: none;}

/* section */
section#portfolio {
    background-color: black;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
    margin-bottom: 60px;
}

/* 본문 기수 정보 */
#portfolio .portfolio-th {display: flex; justify-content: space-between; align-items: center;}
#portfolio .portfolio-th .portfolio-th-prev a {color:#fff; text-decoration: none;}
#portfolio .portfolio-th .portfolio-th-curr {color:#fff; font-size: 25px;}

/* 프로젝트 카드 */
.project-container {
    background-color:#333 ;
    width: 100%;
    display: flex; 
    margin: 15px 0px;
    padding-top: 10px;
    border-radius: 8px;
    transition: transform 0.1s ease; 
}
.project-container:hover {
    transform: translateY(-2px);
}

/* 프로젝트 카드 - 로고 */
.project-container .project-pic {
    width: 200px; height: 140px;
    flex-shrink: 0; border-radius: 8px;
    margin: 10px 10px;
    background-color: white;
    display: flex; justify-content: center; align-items: center;
}
.project-container .project-pic img {
    width: 80%; height: 100%;
    transform: scale(0.85);
    transition: transform 0.2s ease;
}
.project-container:hover .project-pic img {
    transform: scale(1.0);
}

/* 프로젝트 카드 - 내용 */
.project-container .project-content {
    justify-content: left;
    margin-left: 5px;

}
.project-container .project-content .project-content-name {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}
.project-container .project-content .project-content-introduction p {
    color: #c6c6c6;
    font-size: 18px;
    margin-top: 5px;
}

/* 프로젝트 카드 - 팀원 */
.project-container .project-content .project-content-team ul {
    display: flex; 
    padding: 20px 0px;
}
.project-container .project-content .project-content-team ul li.leader {
    background-color: #2188b6; color: white;
    border: 1px solid #2188b6;
    border-radius: 5px;
}
.project-container .project-content .project-content-team ul li {
    border: 1px solid #333;
    background-color: #ececec77;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 10px; padding: 2px 8px;
    list-style: none;
}

/* 프로젝트 카드 - 더보기 */
.project-container .project-more {
    margin: 10px 20px 10px auto ;
}

.project-container .project-more div {
    justify-content: right;
    background-color: #888;
    width: 20px; height: 2px;
    margin-bottom: 4px;
}
.project-container .project-more div:nth-child(1) {
    margin-right: auto;
    transition: 0.5s ease-out;
}
.project-container:hover .project-more div:nth-child(1) {
    width: 50%;
}

.project-container .project-more div:nth-child(3) {
    margin-left: auto;
    transition: 0.5s ease-out;
}
.project-container:hover .project-more div:nth-child(3) {

    width: 50%;
}
/* footer */

/* footer top */
footer #footer-top{
    background-color: #333;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
}

footer #footer-top .footer-content {
    display: flex; justify-content: space-between;
    width: 100%;
}

/* footer-contact 전체 */
footer #footer-top .footer-content .footer-contact ul {
    display: flex;
    flex-direction: column;
    align-items: left; list-style: none;
    padding-left: 0;
}
/* 회칙 */
footer #footer-top .footer-content .footer-contact ul li a {
    text-decoration: none;
    color: white;
}
/* 아이콘들 */
footer #footer-top .footer-content .footer-contact ul .icons {
    display: flex; justify-content: flex-start;
}
/* email contact */
footer #footer-top .footer-content .footer-contact ul .icons img {
    width: 25px; height: 25px;
    margin: 10px 5px;
}
footer #footer-top .footer-content .footer-contact ul li a img {
    margin-right: 15px;
}
/* footer-nav */
footer #footer-top .footer-content .footer-nav {
    display: flex; 
}   

footer #footer-top .footer-content .footer-nav ul{
    display: flex; list-style: none;
    align-items: center;
    padding-left: 0;
}

footer #footer-top .footer-content .footer-nav ul li {
    font-size: 15px;
    margin-left: 20px; 
    transition: transform 0.3s ease;
    border: solid #888;
    border-width : 0 2px 0 0 ;
    padding-right: 20px;
}

footer #footer-top .footer-content .footer-nav ul li:hover {
    transform: translateY(-5px);
}

footer #footer-top .footer-content .footer-nav ul li a {
    color: white; text-decoration: none;
    font-size: 15px;
}
/* footer bottom */
footer #footer-bottom {
    display: flex; justify-content: center;
    background-color:#222;
}

footer #footer-bottom p {
    color: #cfc8c8; 
    font-size: 12px; font-weight: bold;
    margin: 15px 0;
}

header .header-hamburger {
    display: none; 
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
}

header .header-hamburger div {
    background-color: white; 
    width: 25px; height: 3px;             
    margin-bottom: 5px;    
}

header .header-hamburger div:nth-child(1) {
    width: calc(25px * 0.5);
}
header .header-hamburger div:nth-child(3) {
    width: calc(25px * 0.8); 
}


/* 반응형 css */
@media screen and (max-width: 1250px) {
    header, 
    section#portfolio, 
    footer #footer-top {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* 화면 줄어들 때 헤더 메뉴 햄버거로 만들기 */
@media screen and (max-width: 800px) {
    
    header .menu {
        display: none;
    }

    header .header-hamburger {
        display: flex;
    }

}
@media screen and (max-width: 750px) {
    
    footer #footer-top .footer-content .footer-nav {
        display: none;
    }

    
    footer #footer-top {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    
    footer #footer-top .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    
    footer #footer-top .footer-content .footer-contact ul {
        align-items: center; 
        text-align: center;
    }
    
    
    footer #footer-top .footer-content .footer-contact ul .icons {
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    
    /* project-container */
    .project-container {
        flex-direction: column; 
        position: relative;     
        align-items: center;    
        padding-bottom: 20px;
        height: auto;          
    }

    /* project-pic */
    .project-container .project-pic {
        margin: 40px; 
        width: 50%;     
        height: auto;   
        aspect-ratio: 4 / 3; 
    }

    /* project-content */
    .project-container .project-content {
        width: 90%;    
        margin-left: 0; 
        text-align: left; 
    }
    .project-container .project-content .project-content-name {
        display: flex; justify-content: center;
    }

    .project-container .project-more {
        position: absolute;
        top: 15px;
        right: 15px;
        margin: 0;
    }

    /* project-content-team */
    .project-container .project-content .project-content-team ul {
        flex-wrap: wrap; 
        padding-top: 10px;
        gap: 10px; 
        margin: 20px auto;
    }

    .project-container .project-content .project-content-team ul li {
        flex: 1 1 30%; 
        max-width: 33%;
        box-sizing: border-box;
        text-align: center;
        margin-right: 0; 
    }

    header .menu ul li {
        font-size: 14px;
        margin-left: 10px;
    }
}